.Modal {
    position: fixed;
    z-index: 500;
    background-color: cyan;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: left;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
.btn-close {
    border-radius: 50%;
    border: none;
    background: transparent;
    font-size: 17px;
    position: relative;
    top: -14px;
    right: -14px;
    float: right;
}
h2{
    border-bottom: 1px solid #861b1b;
    margin: 10px;
    padding-bottom: 7px;
}
p{
    margin: 10px;
}